In [1]:
import pandas as pd
import os

In [16]:
from sklearn.preprocessing import PolynomialFeatures
import matplotlib.pyplot as plt
%matplotlib inline
 
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [110]:
df=pd.DataFrame()

In [111]:
for i in range(1,31):
    df_1=pd.read_csv('./user{}_fin.csv'.format(i))
    df = pd.concat([df,df_1])

In [112]:
df=df.sort_values(['Month','Day'])

In [113]:
df.fillna(0)

,Unnamed: 0,E00,E01,E02,Month,Day,study,recreation_etc,travel,meal,household,personal_care,work,hobby,entertainment,recreation_media,communitiy_interaction,socialising,outdoor_act
5,5,5.334041,4.953823,5.066810,10,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,0.400655,0.720778,0.656476,10,31,0.0,0.0,-561.0,82.0,0.0,0.0,478.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0,-2.701078,-2.777238,-2.790654,10,31,0.0,0.0,101.0,48.0,0.0,0.0,-167.0,0.0,0.0,16.0,0.0,1.0,0.0
1,1,2.592001,2.207925,2.335748,10,31,0.0,0.0,101.0,48.0,0.0,0.0,-167.0,0.0,0.0,16.0,0.0,1.0,0.0
1,1,-0.753809,-0.470792,-0.535793,10,31,0.0,48.0,85.0,50.0,47.0,5.0,-259.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,2.762715,2.378374,2.497014,11,28,107.0,-432.0,248.0,21.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0
1,1,2.234692,2.595826,2.534679,11,28,201.0,145.0,93.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,7,-0.378615,-0.693952,-0.622763,11,28,0.0,-283.0,45.0,75.0,39.0,59.0,0.0,64.0,0.0,0.0,0.0,0.0,0.0
2,2,2.663965,2.861536,2.800423,11,28,0.0,0.0,146.0,0.0,0.0,0.0,164.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8,-1.321285,-1.346294,-1.372168,11,28,0.0,153.0,248.0,29.0,27.0,-646.0,61.0,0.0,0.0,0.0,92.0,0.0,0.0

In [114]:
df=df.fillna(0)

In [115]:
df_list=df.columns.to_list()

In [116]:
x=abs(df.iloc[:,6:-1])

In [117]:
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_x = pd.DataFrame(x_scaled)

In [118]:
df_x

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.804878,0.117986,0.000000,0.000000,0.735385,0.000000,0.0,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.144907,0.069065,0.000000,0.000000,0.256923,0.000000,0.0,0.025682,0.000000,0.003704
3,0.000000,0.000000,0.144907,0.069065,0.000000,0.000000,0.256923,0.000000,0.0,0.025682,0.000000,0.003704
4,0.000000,0.068182,0.121951,0.071942,0.073209,0.007225,0.398462,0.000000,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
293,0.154848,0.613636,0.355811,0.030216,0.000000,0.000000,0.000000,0.000000,0.0,0.030498,0.000000,0.000000
294,0.290883,0.205966,0.133429,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
295,0.000000,0.401989,0.064562,0.107914,0.060748,0.085260,0.000000,0.112281,0.0,0.000000,0.000000,0.000000
296,0.000000,0.000000,0.209469,0.000000,0.000000,0.000000,0.252308,0.000000,0.0,0.000000,0.000000,0.000000
297,0.000000,0.217330,0.355811,0.041727,0.042056,0.933526,0.093846,0.000000,0.0,0.000000,0.138763,0.000000

In [121]:
df_y=abs(df.iloc[:,1:4])
df_y

         E00       E01       E02
5   5.334041  4.953823  5.066810
5   0.400655  0.720778  0.656476
0   2.701078  2.777238  2.790654
1   2.592001  2.207925  2.335748
1   0.753809  0.470792  0.535793
..       ...       ...       ...
4   2.762715  2.378374  2.497014
1   2.234692  2.595826  2.534679
7   0.378615  0.693952  0.622763
2   2.663965  2.861536  2.800423
8   1.321285  1.346294  1.372168

[298 rows x 3 columns]

In [122]:
x=df_x
y00=df_y.iloc[:,0]
y01=df_y.iloc[:,1]
y02=df_y.iloc[:,2]

In [60]:
y

5    4.953823
5    0.720778
0    2.777238
1    2.207925
1    0.470792
       ...
4    2.378374
1    2.595826
7    0.693952
2    2.861536
8    1.346294
Name: E01, Length: 298, dtype: float64

In [123]:
from sklearn.linear_model import LinearRegression

mlr00 = LinearRegression()
mlr01 = LinearRegression()
mlr02 = LinearRegression()

mlr00.fit(x, y00) 
mlr01.fit(x, y01) 
mlr02.fit(x, y02)

LinearRegression()

In [124]:
mlr00.coef_

array([-0.05531248, -0.25942078, -0.07167481,  0.09567369, -0.4413175 ,
       -1.36308247, -1.15454733, -0.06811579,  1.00249329, -1.45447641,
       -1.01498137,  2.02625282])

In [125]:
mlr00.intercept_

2.8220258872481585

In [128]:
mlr01.coef_

array([-0.09347936, -0.26623945, -0.16562021,  0.0716051 , -0.59385217,
       -1.10456168, -1.11266956, -0.07881406,  1.04454093, -1.54871897,
       -0.85746939,  1.94888982])

In [129]:
mlr01.intercept_

2.838822742617544

In [130]:
mlr02.coef_

array([-0.04764643, -0.26906226, -0.14067448,  0.0885683 , -0.60566626,
       -1.17267282, -1.11138455, -0.09654885,  1.07707351, -1.58956806,
       -0.8662204 ,  2.05728478])

In [131]:
mlr02.intercept_

2.824948700868852

In [127]:
df.to_csv('./final.csv')

In [134]:
dff=pd.read_csv('./2018_sleep.csv')
dff = dff.sort_values('total_sleep_time')

In [ ]:
dff